.container {
    padding-top: 40px;
    background: #E5E6E7;
}
.changeoldpassword{
    position: absolute; 
    top:30%; 
    left:50%; 
    transform: translate(-50%,-50%);
    width:90%; 
}
.changeoldpassword .message{
    display: flex; 
    justify-content: center; 
    height:40px; 
    align-items: center; 
    font-size: 16px; 
    font-weight: bold;
    color:rgb(10, 139, 10);
}
.changeoldpassword .input-box {
    margin-top: 30px;
   
}

.changeoldpassword .error_msg {
    margin-top: 0px !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: right !important;

    color: #FF0D0D;
}

.changeoldpassword .header_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 61px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-right:50px;
    /* margin-bottom:30px; */
}


.changeoldpassword .label {
    /* font-size: 16px;
    line-height: 25px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 27px;
    text-align: right;
    padding: 0px !important;
    color: #000000;
    height: 20px;
}

.changeoldpassword .input {
    height: 29px;
    padding-left: 0px !important;
    display: flex;
    flex-direction: column;
}

.changeoldpassword .input input {

    width: 100%;
    height: 29px;
    background: #D9D9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    outline: none;
    color: #000000;
    border: none;
}

.changeoldpassword .password {
    position: relative;

    /* height: 200px; */
}

.changeoldpassword .password .password_hint {
    position: absolute;
    right: 0;
}

.changeoldpassword .password .password_hint {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
   

    color: #FF0D0D;
}

.changeoldpassword .password .password_hint ul {
    list-style-type: disc;
}

.changeoldpassword .button-box {
    margin-top: 35px;

    flex-direction: row;
    justify-content: space-between;
   
  
    text-align: center;
   
    padding:0px  !important;
    height: 68px;


}

.changeoldpassword .signup-btn, .login-btn {
    background: #D9D9D9;
      padding: 4px 8%;
}
.changeoldpassword .button-box input[type=submit]{
    outline: none;
    background: #D9D9D9;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    font-family: 'Inter';
    padding: 0px 24px;
    height: 43px;
}

.changeoldpassword .progress {
  
    background: #F3F3F3;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 50px;
    height: 12px
    
}

.changeoldpassword .empty{
    display: none;
}
/* .strength-checker{
    position:relative;
}
.password-strength-value{
    position: absolute;
    right: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    top: 13px;
} */

@media screen and (max-width: 576px) {
    .container {
        width: 90% !important;
    }

    .empty {
        display: none;
    }


    .label {
       
    font-size: 17px ;
    line-height: 24px ;
 

    }

    .changeoldpassword  .input {
        height:21px;
        padding-left: 0px !important;
    }

    .changeoldpassword   .input input {
        height:21px;
        font-size: 12px;
        line-height: 12px;

    }
    .changeoldpassword  .password_hint{
        font-size: 11px;
    }

}
@media screen and (max-width: 768px) {
    .container {
        width: 90% !important;
    }

   .changeoldpassword .empty {
        display: none;
    }

    .changeoldpassword .label {
        font-size: 12px;
        line-height: 25px;
    }

    .changeoldpassword .input {
        height:21px;
        padding-left: 0px !important;
    }

    .changeoldpassword .input input {
        height:21px;
        font-size: 12px;
        line-height: 12px;

    }

    .changeoldpassword .password{
        /* width:100% !important; */
        margin-top:20px;
        background:red;
    }

    
    .changeoldpassword .password .password_hint {
        font-size: 14px;
        line-height: 18px;
    
        color: #FF0D0D;
        position: absolute;
        left: 0;
        margin-top: 13px; 

    }
    
    .changeoldpassword .password .password_hint ul {
        list-style-type: none;
    }
    .changeoldpassword .password .password_hint ul li {
        display: inline;
        text-align: left;
        float: left;
    }
    .changeoldpassword .password_container .input-box{
        margin-top:0px !important;
    }
    .changeoldpassword .confirm-password{
        margin-top: 96px;
    }
    .changeoldpassword .password_container{
        margin-top:56px;
    }
    .changeoldpassword .signup-btn, .login-btn {
        background: #D9D9D9;
          padding: 4px 3%;
    }

}

@media screen and (min-width:768px) and (max-width: 992px) {
    /* .container {
        width: 90% !important;
    } */
    .changeoldpassword .label {
        font-size: 18px;
        line-height: 30px;
    }

    .changeoldpassword .input {
        height:21px;
        padding-left: 0px !important;
    }

    .changeoldpassword .input input {
        height:21px;
        font-size: 14px;
        line-height: 12px;

    }
    .changeoldpassword .password_container .input-box{
        margin-top:3px !important;
    }
    .changeoldpassword .confirm-password{
        margin-top: 46px !important;
    }
    .changeoldpassword .signup-btn, .login-btn {
        background: #D9D9D9;
          padding: 4px 8%;
    }
   

}

@media screen and (min-width:992px) and (max-width: 1200px) {
    /* .container {
        width: 90% !important;
    } */
    .changeoldpassword .label {
        font-size: 16px;
        line-height: 25px;
    }

    .changeoldpassword .input {
        height:21px;
        padding-left: 0px !important;
    }

    .changeoldpassword .input input {
        height:21px;
        font-size: 14px;
        line-height: 12px;

    }
    .changeoldpassword .confirm-password{
        margin-top: 46px;
    }
    .changeoldpassword .signup-btn, .login-btn {
        background: #D9D9D9;
          padding: 4px 8%;
    }

}

@media screen and (min-width: 1200px) {
    /* .container {
        width: 90% !important;
    } */
    .changeoldpassword .label {
        font-size: 18px;
        line-height: 25px;
    }
    .empty{
        display: flex;
    }

    .changeoldpassword .input {
        height:21px;
        padding-left: 0px !important;
    }

    .changeoldpassword .input input {
        height:21px;
        font-size: 14px;
        line-height: 12px;


    }
}
