.forgot-pass .header_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 67px;
    text-align: center;
    /* margin-bottom: 20px; */
    color: #000000;
}
.forgot-pass .message .error_message{
    margin-top: 0px !important;

 
    text-align: center !important;

    color: #FF0D0D;
}
.forgot-pass .message{
    font-family: 'Inter';
    display: flex; 
    justify-content: center; 
    height:40px; 
    align-items: center; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color:rgb(10, 139, 10);
}
.forgot-pass .error_msg{
    margin-top:20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #FC2727;
}
.forgot-pass .input_box{
    margin-top:15px;
}

.forgot-pass .label {
  /* margin-top:15px; */
    text-align: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
}

.forgot-pass .input {
    /* width: 100%; */
    /* position: absolute; */
    height: 29px;
    background: #D9D9D9;
}

.forgot-password-btn{
    margin-top:50px;
    display: flex; 
    justify-content: center; 
}
.forgot-password-btn button{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 31px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;
border:none;
color: #000000;
}
.forgot-password-btn button input[type=submit]{
    background: transparent;
    border:none; 
    outline:none;
}

.message{
    height: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
}
.message span{
    color:green; 
    font-size:16px; 
}